https://headscale.{$SITE_DOMAIN} {
	@hs-options {
		host headscale.{$SITE_DOMAIN}
		method OPTIONS
	}
	@hs-other {
		host headscale.{$SITE_DOMAIN}
	}
	handle @hs-options {
		header {
			Access-Control-Allow-Origin https://admin.headscale.{$SITE_DOMAIN}
			Access-Control-Allow-Headers *
			Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE"
		}
		respond 204
	}
	handle @hs-other {
		reverse_proxy http://headscale:8080 {
			header_down Access-Control-Allow-Origin https://admin.headscale.{$SITE_DOMAIN}
			header_down Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE"
			header_down Access-Control-Allow-Headers *
		}
	}
}

https://admin.headscale.{$SITE_DOMAIN} {
	reverse_proxy http://headscale-ui:8080
}
